body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  animation: backgroundAnimation 9s infinite alternate;
}

@keyframes backgroundAnimation {
  0% {
    background-color: #4d4d4d;
  }
  100% {
    background-color: #000000;
  }
}

.login-container {
  background-color: #4d4d4d;
  border-radius: 5px;
  width: 400px;
  box-shadow: 6px 6px 18px rgba(53, 53, 53, 0.562);
  padding: 20px;
  text-align: center;
  animation: backgroundAnimation 9s infinite alternate-reverse;
}

.login-container h2 {
  margin-bottom: 22px;
  color: #ffffff;
  font-size: 32px;
  text-shadow: 3px 3px 8px rgba(200, 200, 200, 0.7);
  animation: textShadowAnimation 9s infinite alternate-reverse;
}

@keyframes textShadowAnimation {
  0% {
    text-shadow: 6px 8px 11px rgb(0, 0, 0);
  }
  100% {
    text-shadow: 3px 3px 8px rgba(200, 200, 200, 0.7);
  }
}

:focus {
  outline: 1px solid #ffffff;
}

.login-container label {
  position: relative;
  display: block;
  margin-bottom: 15px;
}

.login-container label span {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  font-size: 14px;
  color:#dbdbdb;
}

.usuario span,
.senha span {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-size: 9px;
  transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out;
  
}

.spanact {
  animation: movePlaceholder 0.3s forwards;
}

@keyframes movePlaceholder {
  from {
    top: 50%;
    font-size: 14px;
  }
  to {
    top: 30%;
    font-size: 10px;
  }
}

input {
  width: 90%;
  height: 30px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #202020;
  border-radius: 6px;
  background-color: #1b1b1b;
  color: #ffffff;
}

.usuario input, .senha input {
  padding-top: 12px;
}

.lembrar {
  display: flex;
  align-items: center;
  width: 0px;
  margin-top: 10px;
  margin-left: 5%;
  white-space: nowrap;
  color: #c2c2c2;
  cursor: pointer;
}

.lembrar span {
  margin-top: -2px;
  margin-left: 28px;
}

.lembrar input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  width: 10px;
  height: 0px;
  margin-right: 5px;
  border: 1px solid #222;
  border-radius: 5px;
  background-color: #444444;
  outline: none;
  position: relative;
}

.lembrar input:focus {
  border-color: #ffffff;
}

.lembrar input[type="checkbox"]:checked::after {
  content: "✓";
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color 0.3s ease;
  animation: fadeCheckboxMark 0.3s ease-in-out;
}

.lembrar input[type="checkbox"]:not(:checked)::after {
  content: "✓";
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color 0.3s ease;
  animation: fadeCheckboxMark 0.3s ease-in-out reverse;
}

@keyframes fadeCheckboxMark {
  from {
    color: transparent;
  }
  to {
    color: #ffffff;
  }
} 

button {
  background-color: #808080;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  margin-top: 6px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 4px 4px 5px #000;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

footer {
  color: rgba(200, 200, 200, 0.75);
  width: 100%;
  position: absolute;
  bottom: 4px;
  font-size: 11px;
  padding: 5px 0;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    display: block;
    text-align: center;
    margin-top: 10%;
  }

  .login-container {
    width: 80%;
    margin: auto;
  }

  .login-container h2 {
    font-size: 24px; 
  }
  
  button#login {
    width: 40%;
    height: 45px;
    font-size: 16px;
  }

  .usuario input, .senha input {
    width: 90%; 
    font-size: 18px;
    padding-top: 20px;
  }
}
