body {
  font-family: Arial, sans-serif;
  background-color: #49014b;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  animation: backgroundAnimation 5s infinite alternate;
}

@keyframes backgroundAnimation {
  0% {
    background-color: #800285;
  }
  100% {
    background-color: #5d006d;
  }
}

.login-container {
  background-color: #530263;
  border-radius: 5px;
  width: 45%;
  box-shadow: 6px 8px 11px rgba(41, 1, 36, 0.562);
  padding: 20px;
  text-align: center;
  animation: backgroundAnimation 5s infinite alternate-reverse;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #c378e5;
}

:focus {
  outline: 1px solid #a459ff;
}

.login-container label {
  position: relative;
  display: block;
  margin-bottom: 15px;
}

.login-container label span {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  font-size: 14px;
  color:#a49cb7;
}

/*
    AAAAAAAAAAAAAAAAA
*/

input {
  width: 90%;
  height: 30px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #1a1619;
  border-radius: 6px;
  background-color: #22151e;
  color: #ffffff;
}

.lembrar {
  display: flex;
  align-items: center;
  width: 0px;
  margin-top: 10px;
  margin-left: 5%;
  white-space: nowrap;
  color: #a49cb7;
  cursor: pointer;
}

.lembrar span {
  margin-top: -2px;
  margin-left: 28px;
}

.lembrar input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  width: 10px;
  height: 0px;
  margin-right: 5px;
  border: 1px solid #6a399b;
  border-radius: 5px;
  background-color: #292c3a;
  outline: none;
  position: relative;
}

.lembrar input:focus {
  border-color: #a459ff;
}

.lembrar input[type="checkbox"]:checked::after {
  content: "✓";
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color 0.3s ease;
  animation: fadeCheckboxMark 0.3s ease-in-out;
}

.lembrar input[type="checkbox"]:not(:checked)::after {
  content: "✓";
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color 0.3s ease;
  animation: fadeCheckboxMark 0.3s ease-in-out reverse;
}

@keyframes fadeCheckboxMark {
  from {
    color: transparent;
  }
  to {
    color: #ffffff;
  }
} 

button {
  background-color: #8438e1;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #602577;
}

footer {
  color: rgba(30, 0, 30, 0.75);
  position: absolute;
  bottom: 10px;
  size: 1%;
}